[2020-08-06 11:11] jacquesdev opened #1 "Add support for react-native 0.62"
Is it possible for someone to please add the required updates to make it work with rn0.62?

(@webraptor, I know you are already working on it)🥳

[2020-08-06 22:05] rajaupadhyay opened #2 "Horizontal swipe or vertical swipe set to false dont work"
Refer to: https://github.com/alexbrillant/react-native-deck-swiper/issues/321

[2020-08-09 20:32] webraptor commented on #1
[Indeed](https://github.com/webraptor/react-native-deck-swiper/projects/1#card-42719484)

Also contacted npm so that in the near future we'll be able to make new releases on the same package.

[2020-08-15 18:11] naishe opened #5 "Fails with react-native-view-overflow could not be found"
Hi,

I am trying to use this library with React Native 0.63.2, after installing and restarting metro bundler, I get the following error:

[code]

I was thinking to install react-native-view-overflow, but they have mentioned that the RN > 0.57+ this functionality is natively supported by React Native. Read it here: https://github.com/entria/react-native-view-overflow#react-native-version-notice

Pl

[2020-08-15 18:14] naishe commented on #5
Related: https://github.com/alexbrillant/react-native-deck-swiper/issues/266

[2020-08-15 19:03] webraptor commented on #5
Hey @naishe. With the current version you need to install react-native-view-overflow.
Hopefully in the near future some issues with the swiper will be fixed and you'll be able to switch to either a branch release, or if we manage to get publish access even on npm.
I'll update tickets / comments on issues opened, and you can also bookmark https://github.com/webraptor/react-native-deck-swiper/projec

[2020-08-16 03:18] naishe commented on #5
@webraptor Thanks for the quick reply. Yes, it makes sense. I appreciate taking time out to maintain this library.

[2020-08-16 13:56] xXCHINNAXx opened #6 "undo card swipe need help"
is there any way to undo card swipe

[2020-08-16 20:33] webraptor commented on #2
Fixed by version [1.7.1](https://github.com/webraptor/react-native-deck-swiper/commit/7cc63187c5cfbce198a6094b977496245629a37b)

[2020-08-16 20:34] #2 closed

[2020-08-16 21:42] Lorakus commented on #6
Check this:
https://github.com/webraptor/react-native-deck-swiper#swipe-back-to-previous-card-props

[2020-08-18 11:59] art1373 opened #8 "use methods like swipeBack or etc in a functional component"
I know this is not an issue but rather a request for insight about how things work in this component.

I made a swiper component and I pass the config and the data via props. now, how can I use the ref of the parent to initiate children's swipe methods? because my Buttons live outside of the component
``` parent.js```
[code]

and the actual component
[code]

[2020-08-20 04:46] danielha0221 opened #9 "setting VerticalSwipe = false causes an issue"
` <>
        <View style={styles.container}>
          <Swiper
            cards={['DO', 'MORE', 'OF', 'WHAT', 'MAKES', 'YOU', 'HAPPY']}
            renderCard={(card) => {
              return (
                <View style={styles.card}>
                  <Text style={styles.text}>{card}</Text>
                </View>
              );
            }}
            onSwiped={(cardIndex) => {

[2020-08-20 06:33] webraptor commented on #9
This has been [fixed over here](https://github.com/webraptor/react-native-deck-swiper/pull/7), version 1.7.1, but we can't yet make NPM release, so you'd have to use the branch to install the package until npm release is possible.

[2020-08-20 06:33] #9 closed

[2020-08-20 06:36] webraptor commented on #6
I'm assuming @Lorakus's answer is what you were looking for @xXCHINNAXx. If not, please reopen the issue.

[2020-08-20 06:36] #6 closed

[2020-08-20 06:38] webraptor commented on #8
You can use [these methods](https://github.com/webraptor/react-native-deck-swiper#methods) or the [swipeBack](https://github.com/webraptor/react-native-deck-swiper#method) one.

If this wasn't what you were looking for, please reopen the issue.

[2020-08-20 06:38] #8 closed

[2020-08-21 00:07] gitschwifty commented on #1
What issues are you having on 0.62? I'm using RN 0.63 and not seeing any breaking issues, just warnings from Animated, and I believe my team member who implemented it originally was still on 0.62 when he did so. I could ask him to see if he had any issues or if he figured out a fix.

[2020-08-21 08:02] jacquesdev commented on #1
@gitschwifty - it was based on this issue, https://github.com/alexbrillant/react-native-deck-swiper/issues/306. I did not actually try, just assumed it's an issue.

[2020-08-23 17:11] keepforever opened #11 "Animated: `useNativeDriver` was not specified. This is a required option and must be explicitly set to `true` or `false`"
Hey,

The swiper appears to be working and doesn't crash the app in development, but, every time a swipe is executed, this warning pops up.

[code]

[2020-08-24 14:26] danielha0221 opened #12 "TypeError: undefined is not an object (evaluating 'this._callListeners.bind')"
<img width="409" alt="Screen Shot 2020-08-24 at 11 23 29 PM" src="https://user-images.githubusercontent.com/23407092/91056339-d4395f00-e660-11ea-9a08-98a9f54c4da3.png">

Whenever I tried to move the cards this error is occurred.

TypeError: undefined is not an object (evaluating 'this._callListeners.bind')
Animated.Event seems not having _callListeners

I tried this with newly initiated react nati

[2020-08-24 15:56] doozie-akshay opened #13 "Empty cards still tries to render ( From Previous Repo still issue )"
Card Index initializes with the maximum Card Index equal to the initial size of the cards Array. And if any element is deleted from cards Array or updated, it iterates over the same range of card indices, hence it will return undefined for items no longer present in Cards Array.

[2020-08-24 16:34] #12 closed

[2020-08-24 16:34] danielha0221 commented on #12
This is issue is closed because I found that the problem is related to babel not Swiper.

[2020-08-24 20:53] gitschwifty commented on #1
I could throw together a repro to test it out but I'd like to hear from the people who reported it, the error they got could've easily been from something else & based on the trace I'm not sure it came from this package in the first place.

[2020-08-28 00:03] kevinhylant commented on #5
https://github.com/fatiherdogan01/react-native-deck-swiper/commit/6cd720d534f3ee465a9278d2a1e5387c062337bf

[2020-08-28 06:05] webraptor commented on #5
@kevinhylant you can create a PR with a fix & bump package version (patch), that would be great!

[2020-08-31 07:40] yhbyOff opened #14 "Hope create a different repo instead of fork. So that others could npm directly. And also thanks for maintenance !! It really help"
thanks!

[2020-08-31 07:43] webraptor commented on #14
We've already started the process in order to be able to publish on npm with the same package name.

[2020-08-31 19:05] webraptor commented on #14
@yhbyOff Just [released a new version](https://www.npmjs.com/package/react-native-deck-swiper) under the same package name.

[2020-08-31 19:05] #14 closed

[2020-09-01 15:25] cmmouritsen opened #15 "Doesn't Work With react-native-web"
Thanks for taking over and updating this package. Please include this PR that should allow this package to be used with react-native-web projects: https://github.com/alexbrillant/react-native-deck-swiper/pull/263

[2020-09-01 15:32] webraptor commented on #15
If the PR is against this repository I can take a look at it, but we cannot merge & release anything on the original repo.

[2020-09-01 15:32] #15 closed

[2020-09-01 16:27] webraptor commented on #15
Fixed on [2.0.2-beta](https://github.com/webraptor/react-native-deck-swiper/releases/tag/2.0.2-beta)

[2020-09-02 17:51] Harin329 commented on #1
I was on 0.62 a month ago and it was fine, updated to 0.63 and it's still good, only thing is the Animated warning as mentioned

[2020-09-02 19:07] webraptor commented on #11
fixed by [2.0.3-beta](https://github.com/webraptor/react-native-deck-swiper/pull/17)

[2020-09-02 19:07] #11 closed

[2020-09-03 18:45] gitschwifty commented on #1
I'd mark this as needs more info and/or close this issue unless someone reports a current problem, not sure the people commenting in 306 will respond & I don't think it's an issue with this package.

[2020-09-03 19:25] jacquesdev commented on #1
Agreed

[2020-09-03 19:25] #1 closed

[2020-09-04 01:11] yhbyOff opened #18 "Swipe does not work for android device. Same code work for IOS"
<Swiper
        cards={data}
        ref={(swiper) => {
          swipeRef.current = swiper;
        }}
        renderCard={renderHomeCard}
        onTapCard={_onTabCard}
        // no sure swipe is working on android or not, if not, check this place
        // this is a fix from https://github.com/alexbrillant/react-native-deck-swiper/issues/218
        // useViewOverflow={Platform.OS === "ios"}

[2020-09-04 02:19] yhbyOff commented on #18
it is no problem now. i started from anthor's example, and add new code step and step. Finally it works out!

[2020-09-04 02:19] #18 closed

[2020-09-04 05:24] webraptor commented on #18
glad to hear all good!

[2020-09-04 06:14] webraptor commented on #5
@naishe could you try with the code from the [PR I just opened](https://github.com/webraptor/react-native-deck-swiper/pull/19)? Want to double check all is good before merging & releasing the new version.

Thanks!

[2020-09-04 06:46] naishe commented on #5
Thanks, I will give it a try over the weekend.

[2020-09-05 22:26] psychosoft opened #20 "Prop to tell Swiper to stay on same card after swipe action"
It would be great to have a prop for the Swiper to tell it that it shall stay on the same card (no skip forward in the deck) after a certain Swipe action. For example 4 props named, stayOnSameCardAfterSwipeTop, stayOnSameCardAfterSwipeLeft, stayOnSameCardAfterSwipeRight, stayOnSameCardAfterSwipeBottom.

Love your work! Many thanks!!! :)

[2020-09-06 13:13] webraptor commented on #20
It’s actually quite easy to do so. If you keep cardindex in sync with the swiper in a prent component or in your app state, by not updating the cardindex prop on swipe and by making sure you pass back to the swiper the old cardindex it will still display the same card.

But in any way, why would you want to achieve that?
Do you want to revert to the same card, as if user’s not allowed to swipe and

[2020-09-06 17:42] psychosoft commented on #20
Nice, I will try that.
I am building an app for my local hockey team where audience will use it to
vote for the best player during the game.
Navigation is Swipe left/right to chose player, Swipe up to place a vote
for current player.
Each user will have for example 10 votes to distribute.
The users are allowed to use all 10 votes on same player, which i think
will be the most common use case, and

[2020-09-09 13:25] webraptor commented on #5
@naishe any news?

[2020-09-09 14:24] naishe commented on #5
Hey yeah,

I have done a quick run of this. It looks good to me. Here is what I have tested on:

[code]

I have tested the animation, as well as callbacks on various `onSwiped*` methods. They seems to be working as expected.

[2020-09-09 17:40] arnaud9145 opened #21 "Add a verticalStackSeparation and horizontalStackSeparation"
Hi guys ! Thanks for keeping this updated ;)

I wanted to use stackSeparation, but Horizontally. I don't think this is possible actually ? It would be great to be able to precise either horizontal or vertical separation, so that we can even see cards in diagonal maybe, if we use both of them at the same time ^^

Thanks !

Arnaud

[2020-09-13 19:03] davidnegus commented on #13
key={cards.length}

[2020-09-15 22:07] rossanodr opened #22 "Vertical scroll"
Hi guys, first of all, congrats for this job, its amazing.

I am wondering if its possible to scroll vertically and swipe horizontally.
I am asking this because, when the card is too big I cannot see all the content.
And I couldn't find any way to solve this :(

thanks!

[2020-09-20 17:44] yhbyOff opened #23 "When stackSize=1, and using swipeBackCard, the card animation is overlap together when swipe back."

[2020-09-20 18:07] yhbyOff commented on #23
When swipe back, the current one will not disappear immediately. After the swiped card is back and override the existing one.
At this time, two cards are overlapped.

[2020-09-20 19:50] #5 closed

[2020-09-20 19:57] webraptor commented on #23
That is actually the intended behaviour. The swipeBack method animates the card back on top of the deck. What you're describing is a deck of 1 card, sort of creating a paradox. The stackSize should be at least 2 for the swipeBack method. I've updated the readme to reflect this recommendation [here](https://github.com/webraptor/react-native-deck-swiper/pull/24)

[2020-09-20 19:57] #23 closed

[2020-09-20 20:11] webraptor commented on #22
Unfortunately the way the swiper is constructed I don't think so. You might achieve this if you disable vertical swipes (verticalSwipe) and release the pan responder when vertical swipe occurs so that it is caught by the inner element.

One of the reasons why we started working on our project with a custom swiper (rather than this package) back 2 years ago was exactly this one.

Another option wou

[2020-09-20 20:13] #20 closed

[2020-09-20 20:15] webraptor commented on #21
@arnaud9145 I've added some labels to the issue. If this gets some interest it might be a good enhancement.

[2020-09-22 03:58] jamesdunay opened #25 "How to reduce the opacity of cards down in the stack"
I was wondering how, and if, it might be possible to reduce the opacity of cards that are not on top of the stack?

[2020-09-23 08:11] julien-maitan opened #26 "Show overlay all along swipe transition"
When overlays are activated, they should be displayed whenever a swipe transition is running, not only on pan gesture. This would avoid screen flickering when releasing finger and provide a uniform behavior for swipe animations.
An example of expected behavior can be viewed in this app : https://play.google.com/store/apps/details?id=com.lemonde.morning&hl=fr

[2020-09-23 14:25] d22ier opened #27 "Animated: useNativeDriver"
Hello,
I updated expo from 36 to 39 and i had this error :

_**WARN Animated: "useNativeDriver" was not specified. This is a required option and must be explicitly set to "true" or "false"**_

I searched on Google i found this issues :
https://github.com/GeekyAnts/NativeBase/issues/3109

So i updated Swiper.js and added "useNativeDriver:false" to Animated.timing, Animated.spring and Animated.event

[2020-09-23 14:31] webraptor commented on #27
This has already been fixed in [2.0.3-beta](https://github.com/webraptor/react-native-deck-swiper/releases/tag/2.0.3-beta), including latest release 2.0.5

Make sure you have the latest version installed.

[2020-09-23 14:31] #27 closed

[2020-09-23 23:03] PeterHjHan commented on #22
I also had this same problem, but for me the following solved the issue
1. set verticalSwipe={false}
2. On your renderCard Component

`
import {
  widthPercentageToDP as wp,
  heightPercentageToDP as hp
} from 'react-native-responsive-screen';

<View>
  <ScrollView>
    <TouchableWithoutFeedback>
       <View style={{paddingBottom: hp('15%')}}>
         ...contents
       </View>

    </TouchableW

[2020-09-25 14:48] cokealmonacid opened #28 "renderCard problem"
I have created a component that encapsulates the swiper and its functionalities, currently I bring a list of elements from the backend and it shows them correctly, then when trying to bring a completely different list from the backend the renderCard method returns undefined.

**Stack.js**
[code]

**Home.js**
[code]

Has anyone faced such a problem? Thank you!

[2020-09-28 15:34] #28 closed

[2020-09-28 20:16] kevinhylant opened #29 "Add support for tapping buttons on cards"
As far as I can tell, each card only has one tap target and does not support having multiple buttons on the card that swipes that can be tapped.
@webraptor Is this understanding correct? Am I'm missing something?

[2020-09-28 20:55] kevinhylant commented on #29
I think I may have figured out a way to make it work... removing `onTapCard` and then using `onPressIn` on the Button components that live in the card

[2020-09-30 10:41] badkos commented on #25
Up.
Also, is it possible to decrease the transparency of the map when clicked?

[2020-09-30 22:55] psychosoft opened #30 "Cards drift off to one side on load after swipe"
Once in a while, when swiping cards for example left, the next card offsets it self a few pixels in the direction just swiped. After each new swipe the next card drifts more in the same direction on load. After 3-4 new cards the new loading position is completely off screen and ther is no way to det it back. When the card begins to offset, if you swipe it in a disabled direction, it bounces back a

[2020-10-05 05:38] sturrock opened #31 "Cards not rendering straight"
When the Swiper renders the cards they are coming out weird, sometimes it works but most the time it doesn't. You cant swipe it either.

I noticed it does it when you open the app, then once you refresh the app with Ctrl+R it fixes itself. Its rendering the first card as the swipeBackCard then its rendering the other cards with rotation, and out of order indexes.

Any ideas whats going on and is t

[2020-10-08 08:12] harrymash2006 opened #32 "It is not rendering the second card"
Please help. After updating from 1.6.7 it is not showing second card.

I am using this code

<Swiper
ref={swiper => {
this.swiper = swiper;
}}
cardStyle={this.getCardStyle}
inputRotationRange={[0, 0, 0]}
outputRotationRange={["0deg", "0deg", "0deg"]}
infinite={true}
onSwipedLeft={this._onSwipedRight}
onSwipedRight={this._onSwipedLeft}
cards={this.state.feeds}
renderCard={this._renderCard}
onSwiped

[2020-10-08 08:13] harrymash2006 opened #33 "It is not showing second card"
Please help. After updating from 1.6.7 it is not showing second card.

I am using this code

<Swiper
ref={swiper => {
this.swiper = swiper;
}}
cardStyle={this.getCardStyle}
inputRotationRange={[0, 0, 0]}
outputRotationRange={["0deg", "0deg", "0deg"]}
infinite={true}
onSwipedLeft={this._onSwipedRight}
onSwipedRight={this._onSwipedLeft}
cards={this.state.feeds}
renderCard={this._renderCard}
onSwiped

[2020-10-08 08:18] webraptor commented on #32
Please post a snack or something similar so that it is easy to reproduce your issue.

[2020-10-08 08:19] webraptor commented on #33
Duplicate

[2020-10-08 08:19] #33 closed

[2020-10-08 08:22] webraptor commented on #30
@psychosoft images cannot be opened. Please post them directly in github, not in google drive

[2020-10-08 08:22] webraptor commented on #31
[Duplicate](https://github.com/webraptor/react-native-deck-swiper/issues/30)

[2020-10-08 08:24] webraptor commented on #25
This would work only by passing extra arguments to the rebderCard method so that you can set up how top or deck cards are rendered differently

[2020-10-08 08:25] webraptor commented on #25
To what map are you referring to?

[2020-10-08 08:28] sturrock commented on #31
This is a different error, I figured out how to fix it.

In Swiper.js you need to change line 8 from ```const { height, width } = Dimensions.get('window')``` to ```const { height, width } = Dimensions.get('screen')```

[2020-10-08 08:32] webraptor commented on #31
If you’ve got it solved in a fork please submit a PR. Thanks!

[2020-10-08 08:34] webraptor commented on #31
The change would also impact only Androids.

https://stackoverflow.com/questions/44978804/whats-the-difference-between-window-and-screen-in-the-dimensions-api/44979327

[2020-10-08 09:34] harrymash2006 commented on #32
Sorry, I think it was because of these values. It is working now after removing the below values
inputRotationRange={[0, 0, 0]}
outputRotationRange={["0deg", "0deg", "0deg"]}

[2020-10-08 09:34] #32 closed

[2020-10-08 09:49] harrymash2006 opened #34 "Is it possible to swipe only in one direction at a time"
Is this possible to swipe only in one direction at a time than have a moving card in all directions ? Please have a look at this video to see what I mean. Is it possible to achieve something like in the video below ?

https://drive.google.com/file/d/1O4IMwM_n5mJ38nJ-u2dagcJsfy3uiyuH/view?usp=drivesdk

[2020-10-09 06:34] harrymash2006 commented on #34
@webraptor Please can you help ?

[2020-10-09 20:25] willedanielsson opened #35 "Doesn't work with SafeAreaView and margin 0"
So the swiper works correctly but it overflows the parents and therefore the SafeAreaView for on example iOS.

[code]
So if having marginBottom: 0 (to have it feel the whole screen) lets the swiper cover the SafeAreaView as well and not be contained in  the parent. Does anyone else have the same problem or is it just us?

[2020-10-11 16:50] arnaud9145 opened #36 "Cards gets shifted to the right if a video was played in landscape"
Hello !

I have a bug on my app :

I render a deck of yellow cards, if I press on a card I go to another page (with react-native-navigation v5) where I see a video (youtube in a webview). I open it in fullscreen, and change the orientation of the device to landscape.
I then leave the video, go back to portrait mode. I go back to the swiper. Cards are now shifted to the right by almost half a scree

[2020-10-14 07:07] diivyu opened #37 "Multiple cards gets released on a single swipe"
I have a stack size of 2, while swiping the card left/right, 2 cards get release from the list.
Like I have a list of 10 cards whose id are as 1,2,3,4...10.
Now when I am showing them 2 cards gets displayed (id =>1,2) now when i am swiping the card the next cards that should be shown will be of(id => 2,3), but what's happening is.... That it trashes both the cards simultaneously and shows new card

[2020-10-14 07:10] webraptor commented on #37
By any chance do you update the cardIndex outside of the swiper component? As in incrementing it when a swipe occurs?

[2020-10-14 09:14] webraptor commented on #34
You've got swipe animation props that can disable swiping in any direction. [Here's the link to the documentation](https://github.com/webraptor/react-native-deck-swiper#swipe-animation-props).

[2020-10-14 09:14] #34 closed

[2020-10-14 09:16] webraptor commented on #36
The swiper takes sizes based on the device screen size, so rotating the device will result in what you're describing. You can fix this by re-initialising the swiper after a rotate has happened.

[2020-10-14 09:16] #36 closed

[2020-10-14 09:44] webraptor commented on #35
The resolution for this one is the same as the one for [this other concern](https://github.com/webraptor/react-native-deck-swiper/issues/36).

The swiper renders absolutely to the size of the screen, so your renderCard methods should accommodate for any safe areas.

[2020-10-14 09:44] #35 closed

[2020-10-14 10:00] willedanielsson commented on #35
@webraptor  Ahaa it uses the whole screen. Ill fix that and thanks for the fast response!

[2020-10-15 06:51] diivyu commented on #37
No.

[2020-10-30 07:03] ali14N commented on #30
Still facing this issue. is there any solution? or a way to reset card's postition onSwipe.

[2020-10-30 08:17] ali14N commented on #31
changed line 8 still getting tilt card. anyone found any solution?

[2020-11-03 09:07] webraptor commented on #31
The issue is likely from the pan responder not the width / height of the the deck of cards.

[2020-11-14 09:12] KieranO547 commented on #22
Query for anyone that might be able to advise, I'm aiming to not actually use this library for users to swipe with gestures but only interact programmatically through two buttons for left/right, so I'm disabling `verticalSwipe` and `horizontalSwipe`.

I want the cards to be vertically scrollable, theres a bit of weirdness (not entirely broken, just slightly), in that the card component (I matched

[2020-11-15 04:30] spookyvert opened #38 "[Help] Looking for help on inverting Vertical Swiping, Invert Animated.Value Y Axis."
Hey! Amazing package, it's been more than helpful for my current project

I've been trying to invert the Vertical Swiping feature on the Swiper.

I found that the swipe direction gets handled here so I'm pretty much trying to find out how to invert it value.

[code]

If anyone has any knowledge on this it would be a lifesaver!!!

[2020-11-25 23:11] gfpacheco commented on #13
I'm facing this exact issue, but the suggested fix makes the Swiper go back to the first card, any way to set the initial card index? Like if I want the swiper to render the first time starting from index 3?

[2020-11-27 10:12] Aleksandern commented on #22
@PeterHjHan
Thanks for your workaround

using `height: '100%'` in `cardStyle` prop fixed the cut issue in my case
[code]

[2020-11-30 21:53] oporter1 opened #40 "Upgraded RN to 0.63.2 - "Could not resolve dependency""
I upgraded my expo project which upgraded my RN version to 0.63.2

When I try to run `npm install react-native-deck-swiper --save` the below error is returned:

[code]

It looks like this package is requiring an older version of RN? Do you have any idea why it would be rejecting me?

My Expo Specs:
[code]

[2020-12-02 18:34] webraptor commented on #37
@diivyu did you manage to fix this?

[2020-12-02 18:38] webraptor commented on #40
Hi @oporter1, the project requires RN version 0.49.1 or later, I doubt that this is the issue. In any case, 0.49.1 was released more than 3 years ago. I'm thinking we could update that to 0.53 (released January 2018) to keep last 2 years supported.

If you can manage to open up a PR for this, merge & release should be rather quick.

[2020-12-03 19:01] limiaspasdaniel opened #41 "Last two cards in stack don't animate"
When swiping a card a slight zoom in animation of the next card is executed. However **this does not happen on the last two cards of the stack.**

Does anyone know how to solve this issue?

Thank you!

[2020-12-06 15:45] TahaAttari commented on #22
I don't know if such a drastic change is required, when I put a scrollview in there as one of the cards, I can sometimes get scrolling behaviour if I swipe quickly and vertical swipe is disabled. I think putting in an option for a threshold before the swipe is registered might fix this: i.e. the listener only fires if swipe dx > threshold.

[2020-12-08 01:26] maurocen commented on #26
Noticed this is missing. Would be nice to have (maybe have a prop to enable/disable this behavior?).

[2020-12-09 03:12] diivyu commented on #37
No.

[2020-12-09 08:22] jaroslav009 opened #42 "Push new items to the stack without re render"
Hello, I have a big deck so I need to download the files in batch.
What I'm downing is to download the first ten items and then after 5 swipes I start to download the other 5 an so one and pushing it to cardsData, the problem is that I can't add new data without break the app.

Is there a property like extraData in flat list that we can use?

Thanks

[2020-12-09 09:07] jaroslav009 commented on #22
in node_modules/react-native-deck-swiper/Swiper.js
I just add to function pushCardToStack Animated.ScrollView and contentContainerStyle={{paddingBottom: 50}}
and it's worked for me. I know its bad but i dont see other way
`pushCardToStack = (renderedCards, index, position, key, firstCard) => {
    const { cards } = this.props
    const stackCardZoomStyle = this.calculateStackCardZoomStyle(position

[2020-12-09 20:16] TahaAttari commented on #22
### IT WORKED

[2020-12-10 01:06] TahaAttari commented on #22
Give this man a medal

also @jaroslav009 you don't need to add paddingBottom:50 if your card has a flex container as the parent element i.e.

<View style={styles.container}>
//rest of card stuff
 </View>

const styles = StyleSheet.create({
container: {
      flex: 1,
      display: "flex",
      flexDirection: "column",
      justifyContent: "center",
      backgroundColor: 'white'
    }
)

It mak

[2020-12-10 09:05] jaroslav009 commented on #42
I decided it. I just set stackSeparation={5} because this props was bigger

[2020-12-10 09:05] #42 closed

[2020-12-10 09:07] jaroslav009 commented on #22
thanks)

[2020-12-10 09:40] KieranO547 commented on #22
Just as a note incase any of you are editing your `node_modules` directly, use the npm module [patch-package](https://www.npmjs.com/package/patch-package) - allows you to great git diffs so that if in future you do an npm install the 'patches' will be automatically applied after the installation is complete - avoids you having to manually re-apply and gives you a history of whats been edited :)

[2020-12-10 12:27] jaroslav009 opened #43 "how to upload array cards"
when I download data from the Swiper server, sees only the first data, other data that is downloaded it does not see

[2020-12-23 20:42] Fazatholomew commented on #31
Same problem here. The card will be misplaced after the first swipe. Below is the props:
<Swiper
              ref={swiperRef}
              cards={data}
              cardIndex={index}
              renderCard={(card) => (
                <Card
                  card={card}
                  handleClick={() => handleClick(data[index])}
                />
              )}
              infinite

[2020-12-26 21:19] mi5ha opened #44 "onSwiping TypeScript definition is wrong"
In index.d.ts, onSwiping is defined as:

[code]

I think it should be?

[code]

[2020-12-27 22:01] mxmtsk opened #45 "elevation will break overlays"
When I give my cards `elevation` to add a nice shadow, overlays will stop showing completely. Shadow properties for iOS work fine.

[code]

[2021-01-16 19:22] qrosakee opened #48 "feature request: swipe back into position"
Similar to how youtube's minimized video can pop back into position if you click on it, it'd be good if onSwipeUp could bring the previous card back from out of screen and slide back into the top of the deck.

[2021-01-17 07:12] webraptor commented on #48
You can do this using the swipeBack method

[2021-01-17 16:45] Rubberjoelzilla commented on #43
Did anyone have a solution for this issue? The workflow I'm trying to impliment is to load a batch of X amount of cards, when the user has swiped through X-5 cards, we load the next batch of X cards, creating in essence an endless loop of original cards to swipe through. The issue I'm having is that once we swipe through the first batch of cards, the second batch is not rendering despite the cards

[2021-01-24 02:03] witZack commented on #40
warning " > react-native-deck-swiper@2.0.5" has incorrect peer dependency "react-native@^0.49.1".

is the warning i am getting when i try to install with yarn, and the module is not recognized as existing by my package / editor.

[2021-01-27 09:35] Rotemy commented on #41
I have the same issue.

@limiaspasdaniel did you manage to solve this?

[2021-01-27 10:01] limiaspasdaniel commented on #41
I couldn't fix it so I made a swiper component myself. I will update it to use React Native Reanimated and publish it soon.

[2021-01-31 06:21] servonlewis commented on #30
I am having this issue as well on iOS. Came across it when testing and was swiping real fast to see what I render when there are no cards.

[2021-02-24 08:53] mirza-osv commented on #37
I'm also facing the same issue.. This seems to be bug in this module

[2021-02-24 09:11] mirza-osv opened #49 "React native deck swiper swiping two cards at a time"
I'm using react-native-deck-swiper (latest version). What I noticed that with every swipe, two cards are swiping despite only one item getting removed from the array. Can anyone tell me why this issue happening? Below is the ParentComponent and ChildComponent I've added:

Parent Component:

[code]
Child Component:

[code]
Video Link
https://i.stack.imgur.com/v5S00.gif

[2021-02-26 17:14] cristian-milea commented on #30
I tried to implement a timeout between swipes to prevent spamming but still happens

[2021-02-26 17:54] cristian-milea commented on #30
@webraptor , After a lot of tries I think I discovered what triggers the bug.
Swipe a card, release it and while it "flies" offscreen, catch it and throw it again.
The next card in stack will initialize on the "catched" position.

Also, Salut!

[2021-02-26 18:08] cristian-milea commented on #30
Got a temporary workaround for this bug, setting the initial position when dragging always to 0,0 (I think)

[code]

[2021-02-28 06:09] vuciv commented on #30
@cristian-milea Hey, I'm still experiencing this. Where did you add this workaround? In the Swiper class itself?

Thanks.

[2021-02-28 14:43] xXCHINNAXx opened #50 "pass swiper ref to renderCard and perform actions like swipe back swipe etc..."
how to pass Swiper ref to component in renderCard i tried but getting undefined

[2021-03-01 02:04] Cantum2 opened #51 "Issues showing new cards after paginated data is returned and added to the card props list"
### Cross Posted
This issue is cross posted to [here](https://github.com/alexbrillant/react-native-deck-swiper/issues/346) as I was not sure which repository is being actively maintained.

# Issue
When dynamically adding elements to the Swiper card prop,  the newly added properties will not appear on the screen.

## Longer Description
My issue comes from the following situation: My data is paginat

[2021-03-01 06:34] webraptor commented on #51
@Cantum2 thanks for the detailed report! There's a couple of open PRs which I hope I'll get the time to review & merge this week. I don't think any of them fixes this issue though

[2021-03-01 16:08] Cantum2 commented on #51
No problem! I know the struggle when people arent thorough.

Is there a temporary work around I could implement or something of the sort for this to work? This is a crucial feature for my application.

[2021-03-01 16:16] webraptor commented on #51
For us what worked was to keep the cardIndex outside of the app, so whenever we pushed new cards to the deck that would get updated and the deck would re-render

[2021-03-01 16:51] Cantum2 commented on #51
Are you suggesting creating a wrapper for my swiper functional component that contains the index. Then I pass the index from the wrapper into the swiper component?

I'm a bit new to react native so I hope I'm making sense.

[2021-03-01 16:53] webraptor commented on #51
Yes, I think the workaround was mentioned before in at least one of the related issues you've mentioned.

[2021-03-01 16:56] Cantum2 commented on #51
I had seen that solution be suggested in there but misunderstood it. I will give this a try and let you know how it works and if it does I'll post the code because I've seen many people run into this same issue.

Thank you for being so prompt!

[2021-03-03 01:34] Cantum2 commented on #51
I moved the index to the parent and pass it into the child and still no luck, the renderCard function in the Swiper does not get triggered thus resulting in the new items not rendering. I am still stuck on this, the behavior is exactly the same. Please let me know if you see something wrong here.

## Parent
[code]

## Child
[code]

[2021-03-18 13:19] andrelfnavarro commented on #30
@cristian-milea saved my life, thanks!!!

[2021-03-19 20:02] fredyonge commented on #43
@Rubberjoelzilla did you find a solution?

[2021-04-07 22:04] TahaAttari commented on #30
Can we close this? Solution works and seems easy to make an update

[2021-04-09 13:32] MidknightMan commented on #40
+1
Having some big issues trying to install this without legacy deps with Expo 40 SDK. Just bumping to see if it's an issue for anyone else.

[2021-04-14 04:09] haveamission opened #52 "animateCardOpacity Sometimes makes the card stay partially transparent"
When I have animateCardOpacity set, I sometimes see this:
<img width="532" alt="Screen Shot 2021-04-14 at 12 08 10 AM" src="https://user-images.githubusercontent.com/10475533/114653216-8d62ad00-9cb5-11eb-89c6-4ddacba3436d.png">

And then when I swipe that card, I see something like this:

<img width="494" alt="Screen Shot 2021-04-14 at 12 08 17 AM" src="https://user-images.githubusercontent.com/10

[2021-04-15 01:26] arvind-balaji commented on #41
@limiaspasdaniel Any update on that package?

[2021-04-20 06:21] liyamahendra opened #53 "Swipe & Tap on Card doesn't work on Android, but works on iOS"
Hello,

Thank you for this library - works great on iOS and doesn't have the visual problems like `react-native-snap-carousel` library on Android.

However, the card doesn't respond to both Tap & Swipe on Android, but works fine on iOS. I did check out a similar issue and used the fix suggested, but it didn't help.

Following is my code:

[code]

I'm using below version of react & Expo:

"react":

[2021-04-20 09:45] EddStrickland opened #54 "Events dragStart and dragEnd are documented but do not exist."
dragStart | func | function to be called when drag start |  
-- | -- | -- | --
dragEnd | func | function to be called when drag end |

From the read me docs however these are missing within the component itself.

Have these been removed or deprecated in which case please update the docs, if not any they're missing and need to be put back in?

Thanks

[2021-04-20 10:02] EddStrickland commented on #54
Having looked at this further in order to see if there's a quick fix it appears the definition file index.d.ts in the root of the component has not had these functions added to them so if they are added in to the definition file they all work correctly again.

`
    dragStart?: () => void;
    dragEnd?: () => void;`

need to be added into the ./index.d.ts in the root and this fixes the issue

[2021-04-20 10:15] EddStrickland commented on #54
fyi this is the full code with updated definitions on lines 14 & 15.

`declare module 'react-native-deck-swiper' {
	import { StyleProp, ViewStyle } from 'react-native';

	export interface SwiperProps<T> {
		animateCardOpacity?: boolean;
		animateOverlayLabelsOpacity?: boolean;
		backgroundColor?: string;
		cardHorizontalMargin?: number;
		cardIndex?: number;
		cards: T[];
		cardStyle?: number | ob

[2021-04-22 01:44] newageoflight commented on #8
I would also like some clarification here. The documentation only shows how these methods can be employed within a class component. There is no indication as to how the methods of the Swiper e.g. `swipeBack`, can be called from inside a functional component that cannot invoke the `this` property.

[2021-05-07 21:42] vij-ai commented on #53
Not working for me too, any solutions ?

[2021-05-19 08:39] Satishpethani92 commented on #51
I know the fact that causes this issue. And i have solution for the same. Props are getting changed but state value of swiper in state in cards is not changing so i set below code in `shouldComponentUpdate` method. Please make sure you update that and check that again.

[code]

[2021-05-19 11:27] haveamission commented on #53
I had this issue a couple years back, and recently ran into it again and had to look up my old solution.

The issue is that there isn't enough height.

https://github.com/alexbrillant/react-native-deck-swiper/issues/270

[2021-05-22 18:29] anazari commented on #51
If anyone stumbles upon this, I figured out a fix using hooks. The key is to create your own component from the base Swiper component:
[code]
Use useState hook in your parent component to handle updates to your data array (matchQueue in my case):

[code]

Return your custom swiper in your parent component:

[code]

Now, you can update your data array as you wish in your parent component.

[2021-05-22 18:46] Cantum2 commented on #51
I posted the solution that worked for me in the crossposted issue found here: https://github.com/alexbrillant/react-native-deck-swiper/issues/346#issuecomment-800725507

[2021-06-07 16:50] itseramin commented on #28
How did you fix it?

[2021-06-07 16:54] itseramin commented on #28
renderCard={(card) => (card && <Cardz card={card} />) || null}

idk if that was ur problem but this is what i was looking for

[2021-06-11 10:29] sajorahasan commented on #50
Were you able to find any solution for it?

[2021-06-11 10:40] xXCHINNAXx commented on #50
@sajorahasan no

[2021-06-11 10:48] sajorahasan commented on #50
Thanks for getting back

[2021-06-20 23:31] Aryk opened #55 "TS: outputOverlayLabelsOpacityRangeX and outputOverlayLabelsOpacityRangeY have wrong number of values"
https://github.com/webraptor/react-native-deck-swiper/blob/master/index.d.ts#L46

Should be 5 values according to the documentation

[2021-06-25 12:15] Surendiran1988 opened #56 "Vertical scrollview now working"
Hi Guys, I added `<Swiper/>` inside scrollview for me vertical scroll not working when scrolling on `<Swiper>`. Anyone help me to resolve the issue.

Thanks :)

[code]

[2021-06-25 23:50] Aryk commented on #22
Been working on this for 24 hours...

Thanks so much for putting this solution. 🚀  Seriously...not sure what I would have done without. Can I buy you a beer? 🍺

One thing to add...for those that want it, you can add bounces={false} makes it a little more responsive on the horizontal swipe after hitting the end with a vertical swipe.

[2021-06-26 11:06] TahaAttari commented on #22
I've not had any issues with this on Android (I test most of my stuff on Android first), it could be a style issue. Flex and layout styles will sometimes behave differently on Android vs iOS.

[2021-06-27 01:04] Aryk commented on #22
Hey @TahaAttari can you paste here your implementation and more specifically the styles you used?

[2021-07-02 18:49] aas395 opened #57 "Swipe back to previous card with a custom animation"
This is something listed as being possible in the documentation but there's no example given showing how to do it and everything I have tried doesn't seem to work. The previous card shows up when I enable one of the goBackToPreviousCardOnSwipe properties but it just reappears in place without an animation. Is there a way to do this that I'm missing?

[2021-07-02 18:52] aas395 opened #58 "Card re-rendering after swipeBack"
When a card is rendered and then swiped away, it seems to be unloaded and requires a re-render if you swipe it back into position. I thought setting swipeBackCard to true took care of this. Am I missing something?

[2021-07-22 12:30] Rainymood commented on #40
Running into the same issue peer dependency. Using expo.

[2021-09-11 15:40] mariovillamizar opened #59 "Stack is not animating after swipe the first two cards"
Hey @webraptor thank you for your effort trying to keep this library alive.
I found a weird bug where the stack stops animating (zooming the next cards) after swipe the first two cards.
Take a look to this video:
https://user-images.githubusercontent.com/10704258/132953264-65a11e59-19c2-4334-badb-e1a15bc662d7.mp4

[2021-09-15 08:10] tichpla commented on #59
Hey @webraptor & @mariovillamizar I have the exact same bug as you have!

[2021-09-24 11:48] aanikid commented on #59
hello guys, same issue here 😢

[2021-09-30 23:20] DiegoBM commented on #59
Unfortunately chances are this repo is not maintained either. Same error by the way, seems to come all the way back from the original repository

[2021-10-01 07:52] webraptor commented on #59
@DiegoBM if you fix the issue, please open a PR and it will be reviewed / merged. Thanks

[2021-10-01 13:04] Warqus opened #60 "Swiping at the side of cards not working"
Anyone knows why the following is happening (code is below) on iPhone (8)? The same action on Android works fine!

https://user-images.githubusercontent.com/14151318/135623586-2f540512-ae6a-45dc-99bf-3421ffee836e.mp4

Code:

[code]

[2021-10-01 15:29] DiegoBM commented on #59
@webraptor after checking it's internals I have decided that I won't be using this component. I'll probably create a new one if I cannot find a suitable alternative.

Regarding the issue, it seems to be related to some change in react native, probably with the introduction of concurrent mode, or the new architecture. It will work all-righ in 0.63, but will stop working in 0.64. My gut feeling tell

[2021-10-01 15:35] DiegoBM commented on #59
For those of you who want to stick with this library, the problem is that the state values for "stackPositionN" and "stackScaleN" (N being the position number for each stack card) are not being reseted or recalculated upon stack re-renders. You can hack your way around it if you create a function that resets those specific state values before the call to "calculateStackCardZoomStyle", then it will

[2021-10-01 20:44] mariovillamizar commented on #59
@DiegoBM can you create a pull request for this fix?

[2021-10-18 00:23] daveybadsheep opened #62 "Can I turn off stackSeparation and not show the underlying card until I begin swipe?"
Is there some way to set stackSeparation such that you cannot see the underlying card until you begin the swipe of the top card?

[2021-10-24 21:55] haveamission opened #63 "ScrollView inside card"
Is it possible to have a ScrollView that works inside a card?

I want to essentially have my arbitrary card, let me give a toy example:

[code]

And among those contents, I want to have a `<ScrollView />` that scrolls. Right now when I try to scroll on the scrollview, I can't, it just drags the card.

[2021-12-23 11:08] Saad9624 opened #65 "Horizontall Stack of cards"
Is there any way to set the stack the cards in horizontall way currently the stack position is in verticall.
Didnt find any prop for it.

[2022-01-08 16:45] KishanDoth opened #66 "Overlay label shows up behind that card!"
On swipe action, the overlay label shows behind the card on swipe right or left. It has something to do with the zIndex of the overlay label. What's the way to make it show up on top of the card instead of behind it. When it's behind, it actually cuts off and only "Li" or "pe" show up on right/left swipe of "like" and "nope".

[2022-01-10 04:39] KishanDoth commented on #66
Hello @webraptor any suggestion for me?

[2022-03-05 03:47] bobwatcherx opened #67 "not able swipe in Real Devices ( EXPO GO)"
work on chrome browser , but not work in real devices

can you have solution ?

[2022-04-03 03:20] omgitsfaraaz commented on #40
Hi @oporter1 , Did it work for you after downgrading the RN version to 0.49.1 ?

[2022-05-15 15:30] FrEZy05 opened #68 "Animation before swiping"
Is there a way to make the card go a little bit to the right/left before the swiping has began or if the user hasn't swiped for x amount of time?

[2022-05-17 03:36] Nestor231 opened #69 "Reloading Swiper Card List"
Hello @webraptor,

Id like to ask if there's a way we can reload the swiper with a new list of cards ? I tried Setting state in the component like this:
`const[cardState, setCardState] = useState({cards: ['item1','item2','item3'], allSwipe: false})`

then set the swiper's card list like this:

`<Swiper cards={cardState.cards} ...{other.props} />`

then had a reloadButton of sorts to refresh the li

[2022-05-18 00:56] Nestor231 commented on #41
hi @2snEM6  i cant seem to get your library from npm package. i can see it on the npm list but when i tried to install it, it can't be found

[2022-06-23 13:03] webraptor commented on #59
for some reason I didn't get the notification back then.

[2022-06-24 04:50] SDE-Arvind opened #71 "Please publish new changes to NPM"

[2022-06-24 10:10] #71 closed

[2022-06-24 10:11] webraptor commented on #59
pushed on npm as 2.0.6

[2022-06-24 10:11] #59 closed

[2022-06-24 11:02] SDE-Arvind commented on #69
you can try
const[cardState, setCardState] = useState( ['item1','item2','item3'])
<Swiper cards={cards} ...{other.props} />

<Button onClick={()=>{ setCardState(['item4','item5']) }}

[2022-07-08 09:42] iita71737 opened #72 "Have anyone meet the issue when onSwipedAll update new cards list but component not re-render?"
`const UserMatchCardSwiper = (props) => {
  const {width, height} = Dimensions.get('window');
  const {t, i18n} = useTranslation();

  const {
    navigation,
    cards,
    onSwipedAll
  } = props

  // dummy data
  const [dummyCards, setDummyCards] = React.useState([
    {
      firstName: 'Wasa ',
      lastName: 'John',
      job: 'Software Developer',
      photoURL:
        'https://the-alls

[2022-07-20 18:16] matapo opened #74 "Console warning - deprecated method"
There is a warning on replacing a screen with swiper component. Should I create a PR?

<img src="https://user-images.githubusercontent.com/26110566/180052671-a400329a-af1c-4f1a-8f84-adad553edc25.png" alt="Your image title" width="400"/>

[2022-07-20 18:24] webraptor commented on #74
Yeah. That would be helpful

[2022-07-20 21:46] matapo commented on #74
#75 have a look - was a small change

[2022-07-21 07:51] matapo commented on #74
was resolved with #75

[2022-07-21 07:51] #74 closed

[2022-07-23 10:53] aanikid opened #76 "Rebuild this swiper with reanimated library and Typescript"
if someone want to contribute for building a clean one, contact me and lets code...

[2022-07-23 13:58] webraptor commented on #76
Whenever you have PRs ready open them and tag me and I’ll take care of it

[2022-07-23 13:58] #76 closed

[2022-07-25 14:38] thekundan2022 commented on #63
Hi. Have you got any solutions for this..?

[2022-07-26 13:15] haveamission commented on #63
So as far as I can tell, I just put this into the ScrollView (and also the child View, but I don't think that was necessary):

[code]

Let me know if that helps

[2022-07-28 12:57] Mukthayar1 commented on #72
yes having same issues

[2022-08-02 14:37] therobertgrigorian opened #77 "Freezes on fast navigating through screens"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-deck-swiper@2.0.5` for the project I'm working on.

If swipe and navigate to another screen and return back to the screen the swiper deck is frozen intermittently. I suppose the root cause is if we do it fast the component can't register an event in t

[2022-08-06 21:10] dakotawalker commented on #77
Upgrading to 2.0.8 didn't resolve the issue but patching with this diff did. Thanks @therobertgrigorian.

[2022-08-07 07:42] webraptor commented on #77
You can open a PR and bump to 2.0.9 with the fix

[2022-08-18 20:14] solonik1 commented on #72
Yes, same for me

[2022-08-19 07:59] adibuu opened #78 "How to add pagination without reloading Swiper component"
Hi,

has anyone add pagination to swiper that works just like FlatList? I mean now, when i want to add new paginated data to Swiper I must rerender Swiper component to show this data. Anyone find better solution, without rerendering after new pagination data came from backend?

[2022-08-26 22:54] daviddalmaso commented on #72
Same for me

[2022-09-01 07:02] mfsi-anup opened #79 "Lag in onTapCard, onSwipedLeft, onSwipedRight after performing swipeBack"
Hi,

Thanks for the library maintenance.
I am performing actions like onSwipedLeft, onSwipedRight, onTapCard which are working as expected [without any delay] .
However, after performing swipeBack, there is a time lag before which I am correctly perform above functions.
[ Working fine after time lag, however the time lag is not desired]

Can anyone help me with the issue, so that I am perform card

[2022-09-11 03:51] windcloudit opened #80 "Card be under of components when swiping"
I tried to create some button at bottom of the swiper but it will always be above when swiping.
I want when swiping the card will always upper all other components including the header and button menu. Do you know how?
Please check the image I attached. Thank you so much.
![Screenshot_1662867796_png](https://user-images.githubusercontent.com/7861935/189511640-b85aab46-53ae-48c6-b7be-3ab6077842ac.p

[2022-10-02 03:36] RuzenDev opened #82 "TypeError: undefined is not an object (evaluating '_this.dimensionsChangeSubscription.remove')"
Hey!

Thank you very much for this amazing library.

I sometimes have this warning
TypeError: undefined is not an object (evaluating '_this.dimensionsChangeSubscription.remove')

It makes the app stuck.
Anyones help is highly appreciated.

[code]

[2022-10-02 03:50] RuzenDev commented on #80
I had the same issue.

I added display: "flex" to the bottom button view and it worked in mine.

Can you try in yours?

[2022-10-02 10:13] burak4ydin commented on #82
Same issue...

[2022-10-02 10:31] burak4ydin commented on #82
Fixed by installing `    "react-native-deck-swiper": "^2.0.5"`

just run

`yarn add react-native-deck-swiper@2.0.5`

[2022-10-04 12:59] lucalves commented on #82
I gotting this error, too.

I installed `^2.0.9` (most recent version), but doesn't work.

[2022-10-04 13:46] RuzenDev commented on #44
Yeaah Somebody Release the version with this fix

[2022-10-05 05:18] webraptor commented on #82
Will be fixed in 2.0.10

[2022-10-05 05:18] #82 closed

[2022-10-05 05:19] webraptor commented on #44
Will be fixed by 2.0.10

[2022-10-05 05:19] #44 closed

[2022-10-09 07:02] RuzenDev commented on #72
Yes, After finisihing the swipe. I am needing to get new card arrays data but its not working.

has anybody solved this????? @webraptor

[2022-10-09 07:09] RuzenDev commented on #69
No, just changing the state is not rerendering

@webraptor  Any suggestions plz

[2022-10-10 15:45] nofacez opened #84 "Error: ReferenceError: componentWillUnmountAfterInteractions is not defined"
### Issue
I was trying to implement a dynamic deck swiper using key={cards.length} approach found [here](https://github.com/webraptor/react-native-deck-swiper/issues/51#issuecomment-846448534), but faced a  *ReferenceError* when cards data was updated.

#### Setup:
react-native-deck-swiper: 2.0.10
react-native: 0.68.0
react: 17.0.2

[code]

### Fix
Adding  *this* before *componentWillUnmountAfterI

[2022-10-11 14:38] cb-eli commented on #40
Same issue here. Any idea how to overcome it?

[code]

[2022-10-11 14:42] shiv71 commented on #84
I am also getting same error when deleting the last card.

[2022-10-16 21:37] ErezBiren opened #85 "Content of card does not render when state changed"
I did a simeple example with button that change the count state from 1 to 2 and display it as a Text.
but the new valued is not rendered.

Any help would be much appreciated

[code]

[2022-10-19 15:00] LectricAvenue commented on #79
I am also experiencing this issue. My previous card seems to re-render as soon as the animation is complete.

[2022-10-19 21:57] Bsingh2697 commented on #84
SAME issue when changing stack

[2022-10-20 21:03] damianstone opened #86 "variable not found componentWillUnmountAfterInteractions"
Just need to add this.componentWillUnmountAfterInteractions in swiper.js when call it from componentWillUnmount

[2022-10-21 04:15] webraptor commented on #86
I’d be awesome if you can open a PR with it

[2022-10-21 07:54] nofacez commented on #86
https://github.com/webraptor/react-native-deck-swiper/pull/87

[2022-10-23 07:17] privatepej opened #88 "TypeError: null is not an object (evaluating 'cards[index]')"
TypeError: null is not an object (evaluating 'cards[index]')
Warning: Failed %s type: %s%s, prop, The prop `cards` is marked as required in `Swiper`, but its value is `null`.,

[2022-10-23 07:25] privatepej commented on #88
![image](https://user-images.githubusercontent.com/64049536/197379650-db49c50b-7c03-4304-8693-167b4a57893b.png)

[2022-10-26 16:12] #86 closed

[2022-10-26 16:13] webraptor commented on #86
Fixed on 2.0.11

[2022-10-26 16:13] webraptor commented on #84
Fixed on 2.0.11

[2022-10-26 16:13] #84 closed

[2022-10-26 16:14] webraptor commented on #31
Fixed on 2.0.11

[2022-10-26 16:14] #31 closed

[2022-11-07 04:31] thinktapper commented on #88
I keep getting `TypeError: undefined is not an object (evaluating 'value.getValue')`

Could these be related?

[2022-11-07 18:12] iyansr commented on #85
same issue

[2022-11-09 22:11] Skipperlla opened #90 "🐛 Doesn't come back animatedly after dropping the card"
https://user-images.githubusercontent.com/68515357/200949775-df96997e-b93b-4c6c-89ad-dbf70129d294.mp4
# Problem
After swiping the card left or right and letting go, the animation doesn't come back, how do I fix this?
# My code
[code]

# The solution i want
![](https://github.com/webraptor/react-native-deck-swiper/blob/HEAD/animation.gif?raw=true)
Animated freezes when returning after dropping card

[2022-11-09 22:15] bacon1097 commented on #40
Same issue here, my project is using expo ~45.0.0 & react-native 0.68.2

[2022-11-10 12:50] Skipperlla commented on #90
@thinktapper https://snack.expo.dev/@thepunisher/tinder-image-carousel,
You can see it here, there is a little digging after a certain picture I guess it may be because of the size of the photo

[2022-11-12 00:00] thinktapper commented on #90
Cool thanks for sharing!

[2022-11-15 12:25] PiotrWszolek commented on #90
HI, I spent a few minutes looking for the cause and I managed to find it. I'm not sure if it doesn't brake something else but I doesn't look like. I will crate a PR with the fix.
![image](https://user-images.githubusercontent.com/65238862/201919064-48ca4e25-efc2-4da0-80d7-931cbd6971af.png)

[2022-11-15 12:48] PiotrWszolek commented on #90
https://github.com/webraptor/react-native-deck-swiper/pull/92/files

[2022-11-16 07:21] Riaz5687 commented on #42
i am facing same issue, could you please help me

[2022-11-16 07:23] Riaz5687 commented on #72
same for me

[2022-11-16 07:26] Riaz5687 commented on #78
same for me

[2022-11-16 13:29] perroudsky commented on #72
same

[2022-11-22 14:11] aabhasamol opened #93 "Scroll View isn't scrolling"
In my code, I'm rendering each card in a Scroll View so that the complete profile can be swiped, as is the case in Bumble. However, the scroll view isn't working as expected. It scrolls only when I use the roller of my mouse or when I'm long touching a pressable on screen.

[code]

[2022-11-22 17:00] webraptor commented on #90
Now published under 2.0.12

[2022-11-22 17:00] #90 closed

[2022-11-22 17:01] webraptor commented on #56
https://github.com/webraptor/react-native-deck-swiper/issues/22

[2022-11-22 17:01] #56 closed

[2022-11-22 17:02] webraptor commented on #63
https://github.com/webraptor/react-native-deck-swiper/issues/22

[2022-11-22 17:02] #63 closed

[2022-11-22 17:02] webraptor commented on #93
https://github.com/webraptor/react-native-deck-swiper/issues/22

[2022-11-22 17:02] #93 closed

[2022-11-29 08:08] nofacez commented on #88
Could you please provide a more detailed description of the issue? Especially when does it occur? I might know how to fix a similar bug but I don't know if it is the same one

[2022-11-29 08:13] nofacez commented on #78
Dynamic cards list should be fixed in v2.0.11. Here is the [PR](https://github.com/webraptor/react-native-deck-swiper/pull/87). If it doesn't fix your issue, we'll have to dig into it:<

[2022-11-29 09:08] nofacez opened #94 "Cards not updating when state changes after all cards were swiped [Possible Solution]"
❗️ First of all, if you are updating the cards list dynamically (e.g. adding new cards when there are 5 cards left in the current stack) and you are still facing the issue when the list doesn't update, please, make sure you have the latest version of the package. This issue should be fixed there.

Now, let's talk about our patient. Swiper doesn't update state after all cards were swiped because it